
@model IEnumerable<ServerPoliziaApp.Models.TotalVerbalsPerTransgressorReport>

@{
    ViewData["Title"] = "Totale Verbali per Trasgressore";
}

<h1>Totale Verbali per Trasgressore</h1>

<table class="table">
    <thead>
        <tr>
            <th>Cognome</th>
            <th>Nome</th>
            <th>Totale Verbali</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Cognome</td>
                <td>@item.Nome</td>
                <td>@item.TotaleVerbali</td>
            </tr>
        }
    </tbody>
</table>

